VBox {
    -fx-spacing: 10;
}

HBox {
    -fx-spacing: 10;
}

.left {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-color: #e5e5e5;
}

.group {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

MapView {
    -fx-background-color: #6be256;
    -fx-min-width: 800;
    -fx-min-height: 500;
}

ButtonIntersection {
    -fx-background-color: white;
    -fx-border-style: none;
}

ButtonIntersection:selected {
    -fx-background-color: red!important;
}

#warehouse {
    -fx-background-color: blue;
}
