.root {

}

.left {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-color: #e5e5e5;
}

.group {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

VBox {
    -fx-spacing: 10;
}

HBox {
    -fx-spacing: 10;
}

Map {
    -fx-background-color: #6be256;
    -fx-min-width: 500;
    -fx-min-height: 500;
}

